html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #ebe7e7;
  font-family: lemonada;
  height: 100%;
}


/*        Something New       */

.btn {
  font-family: lemonada;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 2px;
  border-style: none;
  box-shadow: 0 0 0.5px;
  padding: 0;
  height: 40px;
  width: 100px;
  transition: background-color, 1s;
}

.inline {
  display: inline-block;
  padding: 0 20px 0 20px;
}

.left {
  float: left;
  text-align: right;
}
.center {
  text-align: center;
  float: none;
  margin: auto;
}

.right {
  float: right;
  /*text-align: right;*/
}

.down {
  float: left;
  display: block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

input.input-txt-sm{
  width: 180px;
  padding: 10px;
  margin-bottom: 2%;
  text-align: right;
  float: right;
}
input.input-txt-xsm{
  width: 100px;
  padding: 10px;
  margin-bottom: 2%;
  text-align: right;
}



/*              Login UI                    */

form.login-form {
  font-family: lemonada;
}

.new-log {
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  margin: 5% auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.login {
  width: 40%;
  margin: 15% auto;
  position: relative;
}

.login-head {
  background-color: #333;
  border-radius: 45px 45px 0 0;
  text-align: center;
  padding: 10px 25px;
  margin-top: 100px;
  margin: 150px auto;
  margin-bottom: 20px;
  width: 70%;
}
@keyframes rotate  {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-head h3 {
  margin: 0;
  color: white;
}

input.log-txt {
  width: 80%;
  text-align: right;
  font-size: 18px;
  margin-bottom: 2%;
  border-radius: 5px;
  padding: 10px 25px;
  border-style: none;
  border-bottom: 3px solid #333;
}

input.login-btn {
  padding: 10px;
  width: 80%;
  height: 50px;
  margin-bottom: 2%;
  font-size: 18px;
  background-color: #333;
  border-radius: 0 0 45px 45px;
  border: 1px solid white;
  color: white;
}
.login-btn:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}
@keyframes glow {
  0%{
    box-shadow: 0 0 25px white;
    text-shadow: 0 0 10px white;
  }
  50% {
    background-color: white;
    border:1px solid black;
    box-shadow: 0 0 25px;
    color: #333;
    text-shadow: 0 0 10px;
  }
  100% {
    background-color: #333;
    border: 1px solid white;
    box-shadow: 0 0 25px white;
    text-shadow: 0 0 10px white;
  }
}
/*              Horizontal Navbar           */

.navheader {
  background-color: #222;
  margin: 0;
  height: 52px;
}

.brand {
  position: fixed;
  margin-left: -9.5%;
  text-align: right;
  border: 2px solid pink;
  background: #222;
  color: white;
  height: 48px;
  width: 12%;
  transition: background-color, border, color, margin-left, 0.5s;
}

.brand:hover {
  background-color: white;
  margin-left: -2.5%;
  border: 2px solid #222;
}

.brand h3 {
  display: inline-block;
  margin: 0;
  padding: 6px 5px;
}

.glyphicon.glyphicon-log-out {
  color: white;
}

.glyphicon.glyphicon-arrow-left {
  display: inline-block;
  top: 4px;
}


/*              Vertical Navbar           */

.navbar {
  background-color: #222;
  list-style-type: none;
  position: fixed;
  height: 100%;
  width: 18%;
  bottom: 0;
  margin: 0;
  padding: 0;
  right: 0;
}

a {
  text-decoration: none;
}

.navbar li {
  background-color: #222;
  text-align: right;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  width: 15.8%;
  right: 0;
  top: 52px;
  position: fixed;
}

.top-li {
  /*border-top: 1px solid white;*/
}

.navbar li:hover {
  background-color: #333;
  color: white;
}

.navbar li:visited {
  text-decoration: none;
}

li.active {
  background-color: white;
  color: #333;
  position: fixed;
  top: 108px;
  width: 15.8%;
}

li.active:hover {
  background-color: white;
  color: #333;
}

li.active::after {
  border-left: 17px solid #ebe7e7;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  content: "  ";
  display: inline-block;
  position: absolute;
  right: 93%;
}


/*         Home's Tab [القوائم]             */

div.container {
  /*border: 1px solid black;*/
  margin-top: 1%;
  margin-left: 1%;
  height: 100%;
  width: 80%;
}

.row {
  margin: 0;
  padding: 0;
}

.tab {
  /*border: 1px solid blue;*/
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
  height: 250px;
  width: 30%;
  box-shadow: -2px -2px 10px;
  border-radius: 8px;
  transition: box-shadow, 0.5s;
}

.tab:hover {
  box-shadow: 2px 2px 50px;
}

.typo {
  /*border: 1px solid black;*/
  background-color: white;
  border-radius: 8px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.typo p {
  z-index: -1;
  position: absolute;
  width: 50%;
  text-align: right;
  padding: 0 10px;
  background-color: #444;
  margin: 0;
  color: white;
  top: 218px;
  right: -183px;
  transition: right, 0.5s;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #222;
}

.typo h1 {
  text-align: center;
  color: #222;
  padding: 5px 25px;
  margin: 0;
  font-size: 3.4em;
}
h1.medium {
  font-size: 3em;
  line-height: 1.5em;
}
h1.small {
  font-size: 2.5em;
}

p::after {
  border-right: 25px solid #444;
  border-top: 17px solid transparent;
  border-bottom: 15px solid transparent;
  content: "      ";
  display: inline-block;
  position: absolute;
  right: 100%;
}

.tab:hover p {
  right: 0;
}


/*    Bill Tabs     */

.container.a1 {
  width: 80%;
  padding: 0;
  height: 400px;
}

.bill {
  border: 1px solid black;
  border-radius: 8px;
  float: right;
  width: 70%;
  text-align: right;
  margin-right: 15%;
  font-family: lemonada;
  padding: 0;
  margin-bottom: 2%;
}

.form-top {
  padding: 10px 20px;
}

.new-form {
  font-family: lemonada;
  background-color: white;
  height: 42px;
  padding: 0;
  width: 100px;
  transition: background-color, color, 0.5s;
}

.new-form:hover {
  background-color: #333;
  color: white;
}

.read-only {
  width: 100%;
  height: 80px;
}

.form-input {
  padding-bottom: 20px;
}

table.A1 {
  margin-right: -100px;
}

.input-txt {
  text-align: right;
  width: 300px;
  margin-bottom: 2%;
  padding: 10px;
}

.label {
  text-align: left;
}

.prt-btn {
  background-color: white;
  height: 40px;
  padding: 0;
  width: 100px;
  transition: background-color, 1s;
  margin-right: 330px;
}

.glyphicon.glyphicon-print {
  color: #333;
  padding: 0;
  font-size: 30px;
  top: -24px;
  right: 35px;
  visibility: visible;
}

.prnt-txt {
  height: auto;
  margin: 9px 15px 0 0;
  z-index: -1;
  color: white;
  font-family: lemonada;
  font-size: 10px;
}

.prt-btn:hover {
  background-color: #333;
}

.prt-btn:hover .glyphicon.glyphicon-print {
  visibility: hidden;
}


/*            Receive Bill                 */

.add-item:hover {
  background-color: #333;
  color: white;
}

.new-form {
  width: auto;
  padding: 0 5px;
}

.added-item {
  padding: 20px 0;
  box-shadow: 0 0 0.5px;
  border-radius: 5px;
  width: 70%;
  margin: 1% auto;
}

.input-txt.inline {
  margin: 1% 0;
}

.label.inline {
  margin: 0;
  padding: 0 20px 0 0;
}

.glyphicon.glyphicon-remove.left {
  font-size: 1.5em;
  top: -15px;
  left: 5px;
  transform: rotate(0deg);
  color: #222;
  transition: transform, color, 0.5s;
}

.glyphicon.glyphicon-remove.left:hover {
  transform: rotate(180deg);
  color: red;
  cursor: pointer;
}

.glyphicon.glyphicon-remove.left:focus {
  color: blue;
}

.input-txt.inline.a {
  width: 20%;
}

.prnt-txt.center {
  height: auto;
  margin: 9px 5px 0 0;
  z-index: -1;
  color: white;
  font-family: lemonada;
  font-size: 10px;
}

.glyphicon.glyphicon-print.center {
  color: #333;
  padding: 0;
  font-size: 30px;
  top: -24px;
  right: 0;
  z-index: 1;
  visibility: visible;
}

p.right {
  margin: 25px 0 0 0;
  width: 100%;
  padding-right: 25px;
  color: red;
}
.btn.add-item.a {
  width: 150px;
}
.added-cheque {
  padding: 20px 0;
  box-shadow: 0 0 0.5px;
  width: 98%;
  margin: 1% auto;
}
.form-end {
  margin-top: 2%;
  padding-bottom:  0;
}
.label.left.inline.a {
  padding: 0 0 0 25px;
}
.inline.left.a {
  padding: 0;
}
